
body {
    background-image: url("../imgs/pordosol.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.container-selecao {
    display: grid;
    grid-template-columns: 1fr 3fr 3fr 1fr;
    grid-template-rows: 1fr 5fr 1fr;
    min-height: 100vh;
    grid-template-areas: 
        "header header header header"
        "leaderboard selecao-1 selecao-2 anuncios"
        "footer footer footer footer"
        ;
    font-family: "Jersey 10", sans-serif;
    font-size: 1em;
}

#selecao-arma {
    position: absolute;
    top: -2%;
    right: -10%;
    width: 120%;
    height: 107%;
    background-color: #000000ce;
}

.todo-o-player {
    position: absolute;
    top: 36%;
    right: 10%;
    width: 84%;
}

.reposicionar-player1-selecao-arma {
    position: absolute;
    top:24%;
    right: 10%;
    width: 100%;
}

.reposicionar-player2-selecao-arma {
    position: absolute;
    top: 24%;
    right: -10%;
    width: 100%;
}

@media (min-width: 1900px) and (max-width: 1950px) {
    #selecao-arma {
        position: absolute;
        top: -2%;
        right: -13%;
        width: 120%;
        height: 107%;
        background-color: #000000ce;
    }

    #selecao-arma h1 {
        margin: 3% 7% 0% 0%;
    }
}

.player-1 {
    grid-area: selecao-1;
}

.player-2 {
    grid-area: selecao-2;
}

header {
    display: flex;
    justify-content: center;
    font-size: 1.7em;
    text-align: center;
    grid-area: header;
}

header h1 {
    color: #ffd700;
}

#selecao-arma h1 {
    font-size: 2.5em;
    text-align: center;
}

.selecao {
    position: relative;
    color: #fff8dc;
    font-size: 2.4em;
    text-align: center;
    background-color: #2b1d1d;
    margin: 0 10px;
    border: 3px solid #ffb347;
    border-radius: 20px;
}

.selecao input {
    border: 1px solid #ffab3d;
    border-radius: 100px;
    padding: 6px;
    background: none;
    font-size: 0.7em;
    color: white;
    font-family: "Jersey 10", sans-serif;
    font-size: 1.1em;
}

.cubo-img-menu {
    position: relative;
    margin-top: 30%;
    width: 46%;
    z-index: 999;
}

.acessorio {
    position: absolute;
    /*pointer-events: none;*/
    display: none;
    z-index: 999;
}

.roupa-mago {
    width: 49%;
    top: 80%;
    right: 25%;
}

.roupa-rei {
    width: 49%;
    top: 78%;
    right: 25%;
}

.roupa-paleto {
    width: 48%;
    top: 79%;
    right: 26%;
}

.roupa-cowboy {
    width: 49%;
    top: 78%;
    right: 26%;
}

.chapeu-mago {
    right: 29%;
    width: 43%;
    top: 0%;
}

.chapeu-cartola {
    right: 27%;
    width: 47%;
    top: 5%;
}

.chapeu-cowboy {
    right: 21%;
    width: 58%;
    top: 7%;
}

.chapeu-coroa {
    right: 23%;
    width: 53%;
    top: 7%;
}

.cara {
    right: 29%;
    top: 43%;
    width: 41%;
}

.arma-luva {
    top: 66%;
    right: 11%;
    width: 30%;
}

.arma-lanca {
    top: 63%;
    right: -18%;
    width: 61%;
}

.arma-marreta {
    top: 40%;
    right: 3%;
    width: 37%;
}

.arma-espada {
    top: 54%;
    right: 5%;
    width: 34%;
}

.habilitar {
    display: block;
}

.desabilitado {
    display: none;
}

.botao {
    border: none;
    background: none;
    position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
    transition: all 0.09s ease;
}

.botao:hover {
    transform: scale(1.1);
}

.botao:active {
    transform: scale(0.9);
}

.botao-acessorio {
    width: 20%;
    height: 10%;
}

.passar {
    background-image: url("../imgs/seta-amarela-direita.png");
}

.voltar {
    background-image: url("../imgs/seta-amarela-esquerda.png");
}

.botao-roupa.passar {
    top: 76%;
    right: 7%;
}

.botao-roupa.voltar {
    top: 76%;
    right: 78%;
}

.botao-chapeu.passar {
    top: 41%;
    right: 7%;
}

.botao-chapeu.voltar {
    top: 41%;
    right: 77%;
}

.botao-cara.passar {
    top: 61%;
    right: 7%;
}

.botao-cara.voltar {
    top: 60%;
    right: 78%;
}

.botao-arma.passar {
    top: 86%;
    right: 18%;
}

.botao-arma.voltar {
    top: 86%;
    right: 58%;
}

#botao-jogar {
    background-image: url(../imgs/botao-jogar.png);
    width: 15%;
    height: 9%;
    top: 91%;
    right: 43%;
}

#botao-fechar-selecao-arma {
    background-image: url(../imgs/botao-fechar-selecao-arma.png);
    width: 5%;
    height: 6%;
    top: 6%;
    right: 11%;
}

@media (min-height: 770px) and (max-height: 880px) {
    #botao-fechar-selecao-arma {
        right: 3%;
    }
}

@media (min-height: 940px) and (max-height: 1040px) {
    #botao-fechar-selecao-arma {
        right: 6%;
    }

    .reposicionar-player1-selecao-arma {
        right: 12%;
    }

    .reposicionar-player2-selecao-arma {
        right: -23%;
    }

    #selecao-arma {
        top: 1%;
        right: -18%;
        width: 132%;
    }

    #selecao-arma h1 {
        margin: 2% 0% 0% 0%;
    }
}






/* ajustes pra resolução */
html, body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 100%;
    
}

#wrapper {
    position: fixed;
    top: 46%;
    left: 48%;
    transform: translate(-50%, -50%);
}

#fixed-container {
    width: 1440px;
    height: 900px;
    transform-origin: top left;
    transform: scale(var(--scale));
}

/* tela normal 1440x900 */
@media (max-height: 900px) {
    #wrapper {
        top: 56%;
        left: 56%;
    }

    .roupa-cowboy {
        width: 49%;
        top: 80%;
        right: 25%;
    }
}

/* tela cheia 1440x900 */
@media (max-height: 869px) and (min-height: 820px) {
    #wrapper {
        top: 52%;
        left: 52%;
    }
}

/* tela cheia 1440x900 */
@media (max-height: 900px) and (min-height: 870px) {
    #wrapper {
        top: 49%;
        left: 50%;
    }

    .roupa-cowboy {
        width: 49%;
        top: 80%;
        right: 26%;
    }
}

/* FULLSCREEN 1920x1080 */
@media screen and (min-width: 1900px) and (max-width: 1950px)
       and (min-height: 970px) and (max-height: 1100px) {

    #wrapper {
        position: fixed;
        top: 39%;
        left: 43%;
        transform: translate(-50%, -50%);
    }

    #fixed-container {
        width: 1440px;
        height: 900px;
        transform-origin: top left;
    }

    .selecao {
        width: 500px;
        height: 660px;
    }
}
